1. preprocessing:-
            -> It is technique that is used to convert the raw data set into more suitable data set
            
2. LabelEncoder:-
            -> Used to normalize labels.
            -> Used to transform non-numerical label to numerical label.
            -> It encode target labels with value B/W 0 and n_classes-1.

In [2]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier #KNeighborsClassifier fits a neighbors
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from collections import Counter

In [5]:
data = pd.read_csv('car_evaluation.csv')
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [6]:
Counter(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [7]:
data.shape

(1728, 7)

In [8]:
data.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
outcome     0
dtype: int64

In [10]:
X =data.iloc[:,:-1]
X.head(3)

  buying  maint  doors  persons lug_boot safety
0  vhigh  vhigh      2        2    small    low
1  vhigh  vhigh      2        2    small    med
2  vhigh  vhigh      2        2    small   high

In [11]:
y = data.outcome

In [13]:
enc = LabelEncoder()
X.buying = enc.fit_transform(X.buying)
X.maint = enc.fit_transform(X.maint)
X.lug_boot = enc.fit_transform(X.lug_boot)
X.safety = enc.fit_transform(X.safety)
X.head(3)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      2        2         2       1
1       3      3      2        2         2       2
2       3      3      2        2         2       0

In [14]:
pd.get_dummies(data)# used to convert categorical variable into dummy/indicator variables.

,doors,persons,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,lug_boot_big,lug_boot_med,lug_boot_small,safety_high,safety_low,safety_med,outcome_acc,outcome_good,outcome_unacc,outcome_vgood
0,2,2,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,1,0
1,2,2,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0
2,2,2,0,0,0,1,0,0,0,1,0,0,1,1,0,0,0,0,1,0
3,2,2,0,0,0,1,0,0,0,1,0,1,0,0,1,0,0,0,1,0
4,2,2,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,5,5,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,0,0
1724,5,5,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1
1725,5,5,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1,0
1726,5,5,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0
1727,5,5,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=10)

In [22]:
model = KNeighborsClassifier(n_neighbors=5,metric='euclidean')
model.fit(X_train,y_train)
y_predict = model.predict(X_test)
accuracy_score(y_test,y_predict)

0.9421296296296297

In [23]:
print(Counter(y_test))
pd.crosstab(y_test,y_predict)

Counter({'unacc': 307, 'acc': 84, 'vgood': 22, 'good': 19})

col_0    acc  good  unacc  vgood
outcome
acc       77     1      6      0
good       5    14      0      0
unacc      3     0    304      0
vgood      7     2      1     12

In [24]:
confusion_matrix(y_test,y_predict)

array([[ 77,   1,   6,   0],
       [  5,  14,   0,   0],
       [  3,   0, 304,   0],
       [  7,   2,   1,  12]], dtype=int64)